<!doctype html>
<html class="no-js" lang="en" ng-app="mainApp"  ng-controller="bodyController">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>陈俊毅的艺术世界-{% raw %}{{title}}{% endraw %}</title>
    <meta name="description" content="{% raw %}{{content}}{% endraw %}">
    <mata name="keywords" content="陈俊毅,陈俊毅艺术世界-{% raw %}{{title}}{% endraw %}"></mata>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
    ============================================ -->
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">

    <!-- All css files are included here. -->
    <!-- Bootstrap fremwork main css -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- This core.css file contents all plugings css file. -->
    <link rel="stylesheet" href="/css/core.css">
    <!-- Theme shortcodes/elements style -->
    <link rel="stylesheet" href="/css/shortcode/shortcodes.css">
    <!-- Theme main style -->
    <link rel="stylesheet" href="/style.css">
    <!-- Responsive css -->
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- User style -->
    <link rel="stylesheet" href="/css/custom.css">
    <link rel="stylesheet" href="/css/shortcode/director.css"/>
    <!-- Modernizr JS -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="/js/vendor/jquery-1.12.0.min.js"></script>
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">您正在使用 <strong>过时的</strong>浏览器.请 <a href="http://browsehappy.com/">点击这里</a> 升级您的浏览器</p>
<![endif]-->
<!-- Body main wrapper start -->
<div class="wrapper">
    <!-- Start of header area -->
    <header class="intelligent-header header-black header-area elements1">
        <div class="header-black-area header-middle">
            <div class="container-fluid">
                {% include "layouts/header.html" %}
            </div>
        </div>
    </header>
    <!-- header end -->
    <div class="space-custom elements1"></div>
    <!-- End of header area -->
    <!-- End  page banner -->
    <!-- shop-area start -->
    {% block content %}{% endblock %}
    <!-- shop-area end -->
    <!-- End page content -->
    <!-- Start footer area -->
    <footer class="black-bg">
        <div class="footer-bootom-area ptb-15">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="copyright">
                            <p>陈俊毅艺术世界版权所有</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <div class="payment">
                            <p>网站建设： </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer area -->
    <!-- Modal -->
    <div class="modal fade" id="productModal" tabindex="-1" role="dialog">
        <div class="modal-img">
            <a href="shop.html"><img ng-src="{% raw %}{{detail.atlas[0].src}}{% endraw %}" alt=""/></a>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                    aria-hidden="true">x</span>
            </button>
            <div class="price-reviews">
                <div class="price-box">
                    <span class="price product-price" ng-bind="detail.title">作品名称</span>
                </div>
                <a class="s-btn pull-right" ng-click="goUrl(detail.link_id)" ng-if="detail.link_id"><i class="fa fa-commenting-o mr-10"></i>{% raw %}{{router=='derivative'?'购买':'艺术评论'}}{% endraw %}</a>
            </div>

        </div>
        <!--<div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">x</span></button>
                </div>
                <div class="modal-body">
                    <div class="modal-img">
                        <a href="shop.html"><img ng-src="{% raw %}{{apiUrl+detail.atlas[0].src}}{% endraw %}"
                                                 alt=""/></a>
                    </div>
                    <div class="modal-pro-content">
                        <h3><a href="single-product.html">Phasellus Vel Hendrerit</a></h3>
                        <div class="price">
                            <span ng-bind="detail.title">标题写在这</span>
                        </div>
                        <p ng-bind="detail.atlas[0].info">
                            《朱鹮之”情敌”》，为了完成这幅作品（事先没有具象定势创意），民工们在美国加拿大边境尼亚加拉大瀑布临时筑巢了水下画室；陈大师就在这个规定情景扑捉创作灵感；进入水下画室一週后的他，突然把眼中高峰垂直落体的瀑布强大气流错觉顿生灵感——自己以其长年炼达的东方气韵挥毫入轨并以嫺熟轻盈的西方神韵瞬间佈局一气呵成的“瀑布写生”令自己怀疑这是否是沉浸梦境中的神来之笔？！当陈大师拿著这张《朱鹮之“情敌”》给日本抽象美术爱好者授课展示时，全场除了闪光灯就是长时间的掌声了……迄今为止已经有许多海内外”粉丝”开始跟踪这隻“情敌”了；泰国皇家藏品中国顾问芮世奇先生只是看到仿製品就惊歎道：世界瑰宝啊！</p>
                        <form action="#" ng-show="detail.link_id">
                            <button ng-click="goUrl(detail.link_id)">艺术评论</button>
                        </form>
                        <div class="product_meta">
                            <span class="posted_in">陈俊毅艺术世界版权所有，未经允许不得转载，禁止商用！</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
    <!-- Modal end -->
</div>
<!-- Body main wrapper end -->


<!-- jquery latest version -->
<script src="/js/vendor/jquery-1.12.0.min.js"></script>
<!-- Bootstrap framework js -->
<script src="/js/bootstrap.min.js"></script>
<!-- ajax-mail js -->
<script src="/js/ajax-mail.js"></script>
<!-- owl.carousel js -->
<!--<script src="/js/owl.carousel.min.js"></script>-->
<!-- jquery.nivo.slider js -->
<script src="/js/jquery.nivo.slider.pack.js"></script>
<!-- All js plugins included in this file. -->
<script src="/js/plugins.js"></script>
<!-- Main js file that contents all jQuery plugins activation. -->
<script src="/js/main.js"></script>

<script src="/js/angularjs/angular.js"></script>
<script src="/javascripts/controller/main-controller.js"></script>
<script src='/js/anime.min.js'></script>
<script src='/js/pieces.min.js'></script>
<script src='/js/demo.js'></script>
<script>
  var router = '{{router}}';
  var tis;

  function googleTranslateElementInit() {
    new google.translate.TranslateElement({pageLanguage: 'en'}, 'google_translate_element');
  }

</script>
<script src="/js/google-translate.js"></script>
<!--<a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647; display: block;"><i class="fa fa-angle-up"></i></a>-->
</body>

</html>