<div class="row">
    <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="logo">
            <a href="index.html"><img src="img/logo/logo.png" alt=""/></a>
        </div>
    </div>
    <div class="col-md-8 col-sm-6 col-xs-12 text-right xs-center">
        <div class="main-menu menu-style-black display-inline hidden-sm header-3">
            <nav>
                <ul>
                    <li><a href="index.html" ng-class="isActive('index')">首页111</a>
                    </li>
                    <li>
                        <a ng-href="{% raw %}{{'works.html?cid='+categoryList[0].children[0].id}}{% endraw %}"
                           ng-class="isActive('works')">艺术作品</a>
                        <ul class="submenu">
                            <li ng-repeat="item in categoryList[0].children"><a
                                    ng-href="{% raw %}{{'works.html?cid='+item.id}}{% endraw %}"
                                    ng-bind="item.name"></a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="director.html" ng-class="isActive('director')">导演艺术</a>
                    </li>
                    <li>
                        <a href="about.html" ng-class="isActive('about')">简介</a>
                        <ul class="submenu">
                            <li><a href="about.html">陈俊毅艺术世界</a></li>
                            <li><a href="photo.html?cid=134">相册</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ng-href="{% raw %}{{'research.html?cid='+categoryList[2].children[0].id}}{% endraw %}"
                           ng-class="isActive('research')">学术</a>
                        <ul class="submenu">
                            <li ng-repeat="item in categoryList[2].children"><a
                                    ng-href="{% raw %}{{'research.html?cid='+item.id}}{% endraw %}"
                                    ng-bind="item.name">艺术评论</a></li>
                            <li><a href="books.html">出版著作</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ng-href="{% raw %}{{'news.html?cid='+categoryList[3].children[0].id}}{% endraw %}" ng-class="isActive('news')">动态</a>
                        <ul class="submenu">
                            <li ng-repeat="item in categoryList[3].children"><a
                                    ng-href="{% raw %}{{'news.html?cid='+item.id}}{% endraw %}"
                                    ng-bind="item.name">新闻</a></li>
                        </ul>
                    </li>
                    <li>
                        <a ng-href="{% raw %}{{'derivative.html?cid='+categoryList[4].children[0].id}}{% endraw %}"
                           ng-class="isActive('derivative')">衍生品</a>
                        <ul class="submenu">
                            <li ng-repeat="item in categoryList[4].children"><a
                                    ng-href="{% raw %}{{'derivative.html?cid='+item.id}}{% endraw %}"
                                    ng-bind="item.name">服装</a></li>
                        </ul>
                    </li>
                    <li><a href="contact.html" ng-class="isActive('contact')">联系</a></li>
                </ul>
            </nav>
        </div>

    </div>
    <div class="col-md-2 col-sm-3 col-xs-12">
        <div class="display-inline  pull-right" id="google_translate_element"
             style="height: 53px;overflow: hidden;margin-top: 10px;">
            <!--<a href="#">选择语言：<b>中文<i class="fa fa-angle-down ml-15"></i></b></a>-->
            <!--<ul class="">-->
            <!--<li>-->
            <!--<div class="cart-content">-->
            <!--<h3><a href="#"> 中文</a></h3>-->
            <!--</div>-->
            <!--</li>-->
            <!--<li>-->
            <!--<div class="cart-content">-->
            <!--<h3><a href="#">英文</a></h3>-->
            <!--</div>-->
            <!--</li>-->
            <!--</ul>-->
        </div>
    </div>
</div>