{% extends "layouts/default.html" %}

{% block content %}
<!-- Start page content -->
<div class="breadcrumb-area2 ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="breadcrumb-title text-white uppercase">个人简介</h2>
                <div class="breadcrumb-wrap ">
                    <ul class="breadcrumb-list text-center mt-20 mt-30">
                        <li><a href="index.html">首页 </a>   </li>
                        <li><a href="about.html">关于</a></li>
                        <li><a href="javascript:location.reload()">个人简介</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- introduction start -->
<div class="testimonial-area bg-3 ptb-100">
    <div class="container">
        <div class="testimonial-active">
            <div class="single-testimonial text-center">
                <div class="test-img">
                    <img src="img/test/1.jpg" alt="" />
                </div>
                <div class="testimonial-test">
                    <p>出生于上海市。旅美油画家，艺术家，舞台秀导演<br/>
                        上海交通大学东方艺术交流中心高级顾问。<br/>
                        70年代初，考入文艺团体从事舞台美术设计，在上海歌剧院及南京艺术学院学习舞台美术，并随名师学习声乐、小提琴。油画启蒙曾师从著名油画大家颜文樑。<br/>
                        93年由上海美术馆主办“陈俊毅大型个人油画展”， 在上海美术馆展出作品108件。 95年， 上海的拍卖公司举办“陈俊毅个人油画专场拍卖会”。
                        93--95年期间，上海电视台《诗与画》栏目及《上海滩名人专访》栏目两度拍摄并向海内外播放“陈俊毅电视专题片”。<br/>
                        95年受邀赴美，并定居美国，创办艺术沙龙。 98年受邀参加“美国名家艺术走廊”十大西画名家联展。在美国，艺术成就被写成文学报道——《特写---美国华裔精英》一书，90年代后期，作品被收入《世界华人美术家年鉴》，本人被授予“世界华人美术名家”称号，同时入选《世界华人美术名家画集》和《美国华裔名人年鉴》。 2000年获美国加州橙郡郡政府授予“杰出成就荣誉市民”。<br/>
                        2007年，策划、导演了大型歌舞秀《激情夜上海》，首次将油画艺术与歌舞艺术融合于舞台，演于上海东方艺术中心和上海美琪大戏院等剧院。<br/>
                        2015年，策划、总导演了大型城市歌舞秀《激情夜上海》（升级版）。</p>
                    <a class="button small button-white mb-20" href="#"><span>人物传记 </span> </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- introduction end -->
<!-- End page content -->
{% endblock %}