{% extends "layouts/default.html" %}

{% block content %}
<div ng-controller="researchController">
    <!-- Start page content -->
    <div class="b-bg-10">
        <div class="container pt-150">
            <!--<div class="breadcrumb-area2 ptb-150 bg-1">

            </div>-->
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="breadcrumb-wrap mt-20">
                            <ul class="breadcrumb-list text-center">
                                <li><a href="index.html" style="color: #333">首页 </a></li>
                                <li><a href="research.html?cid=141" style="color: #333">学术 </a></li>
                                <li><a href="#" style="color: #333">出版著作</a></li>
                            </ul>
                        </div>
                        <h2 class="breadcrumb-title text-white uppercase  mt-20" style="color: #333">出版著作</h2>
                    </div>
                </div>
            </div>
            <div class="banner-area pt-70 pb-150">
                <div class="container">
                    <div class="row">
                       <div class="books_bg">
                           <ul>
                               <li>
                                   <a href="chubanzhuzuo.html"><img src="img/books/1.png" alt=""></a>
                               </li>
                               <li>
                                   <a href="chubanzhuzuo.html"><img src="img/books/2.png" alt=""></a>
                               </li>
                               <li>
                                   <a href="chubanzhuzuo.html"><img src="img/books/3.png" alt=""></a>
                               </li>
                               <li>
                                   <a href="chubanzhuzuo.html"><img src="img/books/4.png" alt=""></a>
                               </li>
                           </ul>
                       </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- articles list end -->
    <!-- End page content -->
</div>
{% endblock %}