{% extends "layouts/default.html" %}

{% block content %}
<div ng-controller="researchController">
    <!-- Start page content -->
    <div class="breadcrumb-area2 ptb-150 bg-1">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="breadcrumb-wrap mt-20">
                        <ul class="breadcrumb-list text-center">
                            <li><a href="index.html">首页 </a></li>
                            <li><a href="research.html?cid=141">学术 </a></li>
                            <li><a href="#">出版著作</a></li>
                        </ul>
                    </div>
                    <h2 class="breadcrumb-title text-white uppercase  mt-20">出版著作</h2>
                </div>
            </div>
        </div>
    </div>
    <!-- articles list start -->
    <div class="banner-area pt-70 pb-70">
        <div class="container">
            <div class="row">
               <div class="books_bg">
                   <ul>
                       <li>
                           <a href=""><img src="img/books/1.png" alt=""></a>
                       </li>
                       <li>
                           <a href=""><img src="img/books/2.png" alt=""></a>
                       </li>
                       <li>
                           <a href=""><img src="img/books/3.png" alt=""></a>
                       </li>
                       <li>
                           <a href=""><img src="img/books/4.png" alt=""></a>
                       </li>
                   </ul>
               </div>
            </div>
        </div>
    </div>
    <!-- articles list end -->
    <!-- End page content -->
</div>
{% endblock %}