{% extends "layouts/default.html" %}

{% block content %}

<div class="b-bg-10" ng-controller="chubanzhuzuoController">
    <div class="container pt-110">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="sidebar">
                    <div class="sidebar-img">
                        <!--<img src="img/books/1.png">-->
                    </div>
                    <div class="sidebar-list">
                        <div class="heading">
                            <h4>目录</h4>
                        </div>
                        <ul class="mt-10">
                            <li ng-repeat="item in list.data" ng-click="getDocumentById(item.id)"><a href="javascript:;" ng-class="id==item.id?'current':''" ng-bind="item.title"></a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-sm-8">
                <div class="blog-wrapper blog-main mb-40 article-box">
                    <div class="blog-info article">
                        <h3 ng-bind="article.title"></h3>
                        <div class="mt-20" ng-bind-html="article.content">

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




{% endblock %}
