{% extends "layouts/default.html" %}

{% block content %}

<div class="b-bg-10">
    <div class="container pt-110">
        <div class="row">
            <div class="col-md-4 col-sm-4">
                <div class="sidebar">
                    <div class="sidebar-img">
                        <img src="img/books/1.png">
                    </div>
                    <div class="sidebar-list">
                        <div class="heading">
                            <h4>目录</h4>
                        </div>
                        <ul class="mt-10">
                            <li><a href="#" class="current">第一章 标题标题标题标题标题标题</a></li>
                            <li><a href="#">第二章 标题标题标题标题</a></li>
                            <li><a href="#">第三章 标题标题标题</a></li>
                            <li><a href="#">第四章 标题标题</a></li>
                            <li><a href="#">第五章 标题标题标题标题标题</a></li>
                            <li><a href="#">第二章 标题标题标题标题</a></li>
                            <li><a href="#">第三章 标题标题标题</a></li>
                            <li><a href="#">第四章 标题标题</a></li>
                            <li><a href="#">第二章 标题标题标题标题</a></li>
                            <li><a href="#">第三章 标题标题标题</a></li>
                            <li><a href="#">第四章 标题标题</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="col-md-8 col-sm-8">
                <div class="blog-wrapper blog-main mb-40 article-box">
                    <div class="blog-info article">
                        <h3>看得懂的艺术和看不懂的文章</h3>
                        <div class="mt-20">
                            <img src="img/01.jpg">
                            <p>最近周末连续奔波于美术馆参观各类艺术展，忽然发现，当代艺术作品因为与当下社会直接发生关系而越来越趋向于易懂之时，那些冠注在展览之前的策展人前言或者评论文章，却越来越让人摸不到头脑。如果不是文中偶然出现了一次参展艺术家的名字，完全可以放置于任何一个艺术展览的开篇，甚至可以视作为哪一位艺术类院校的学生为了故作高深引用了许多知名不知名的西哲、东哲“名言”的论文。</p>
                            <p>比如，“作为一种绵延至今的自我意识……20世纪俄裔法国哲学家科耶夫，从辩证法的角度将人与自然的对立统一隐喻为一个‘金戒指’的形象，金子就是自然，洞就是人，指环就是精神。在此，人不仅在对自然的否定(劳动)中发现与思维自己，同时也在这种能动关系中，将人的时间性与欲望的存在，转换为一种观念传统，反馈给自然事物恒久不变的同一性。”谁能明白此文实为一个青年艺术家的写实绘画展而起呢?诚然，面对一幅大家都能一目了然、更深层次的触动与解读只能通过观者彼此不同的个体经验来达成的画面，要求策展人为如是画面填充更深刻的哲学内涵，赋予更多的艺术创新之意，再一并提拔到更高的历史地位，恐怕也真的有点难。</p>
                            <P>一直有人说当代艺术晦涩难懂，确实，当代艺术应用多种媒材讨论的问题基于每个艺术家的想象力，相比较单纯用毛笔与浓墨的直抒胸臆，是更需要策展人评论家加以注解的，此时，文字理应成为沟通观者和艺术家之间的桥梁，注意，这是桥梁，而非故意设置的另一重解释的障碍，也不应该是缺乏自信的策展人批评家对于理论和方法论的霸占。大段地引用套用海德格尔、黑格尔等等西方先贤的理论著作，并假以自我抒情，不仅仅不能归类于艺术评论，也不是一篇好的策展文章——当然，如果那是诗人们的自嗨，不把文章冠之以“艺术评论”之名，或者诗人们不要因为这种自我陶醉梦呓般的语言而自封为艺术界的新兴评论人士，我没有意见。</P>
                            <p>艺术评论界前辈殷双喜曾经对艺术评论下过简单的定义：一篇较为完整的艺术评论，必须存在论述即批评者对于批评对象的基本判断和阐释。因为无论如何写作评论文章，都无法回避下列问题：艺术家要传达什么，艺术作品的意义是什么，艺术家为什么如此选择(材料、技术、语言、方法)，艺术作品的价值在哪里?艺术家可以以作品说话，但是如果一篇文章连这些基础问题都无法解释清楚，还要运用半通不通的半个世纪以前的西方译文来解释，那当代艺术不被理解，写作者恐怕得担负起一大半的责任。</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>




{% endblock %}