<!doctype html>
<html class="no-js" lang="en">
    <head>
        <link rel="stylesheet" href="css/custom.css">
        <link rel="stylesheet" href="css/shortcode/about.css">
    </head>
    <body>

        <!-- Body main wrapper start -->
        <div id="page-wrapper">

            <!-- Wrapper -->
            <div id="wrapper">

                <!-- Panel (Banner) -->
                <section class="panel spotlight large left">
                    <div class="content" style="text-align: center;font-size: 14px">
                        <h2 class="major">简介</h2>
                        <p>出生于上海市。旅美油画家，艺术家，舞台秀导演<br/>
                            70年代初，考入文艺团体从事舞台美术设计，在上海歌剧院及南京艺术学院学习舞台美术，并随名师学习声乐、小提琴。油画启蒙曾师从著名油画大家颜文樑。<br/>
                            93年由上海美术馆主办“陈俊毅大型个人油画展”， 在上海美术馆展出作品108件。 95年， 在上海新锦江宾馆同时举办上海画院院长程十发国画专场拍卖和“陈俊毅个人油画专场拍卖会”。
                            93--95年期间，上海电视台《诗与画》栏目及《上海滩名人专访》栏目两度拍摄并向海内外播放“陈俊毅电视专题片”。<br/>
                            95年受邀赴美，并定居美国，创办艺术沙龙。 98年受邀参加“美国名家艺术走廊”十大西画名家联展。在美国，艺术成就被写成文学报道——《特写---美国华裔精英》一书，90年代后期，作品被收入《世界华人美术家年鉴》，本人被授予“世界华人美术名家”称号，同时入选《世界华人美术名家画集》和《美国华裔名人年鉴》。 2006年获美国加州橙郡郡政府授予“杰出成就荣誉市民”。<br/>
                            2007年，策划、导演了大型歌舞秀《激情夜上海》，首次将油画艺术与歌舞艺术融合于舞台，演于上海东方艺术中心和上海美琪大戏院等剧院。<br/>
                            2015年，策划、总导演了大型城市歌舞秀《激情夜上海》（升级版）。<br/>
                            由上海文化出版社出版、著名作家淳子撰写的《夜色撩人—陈俊毅，一个抽象主义者的生态》传记作品，已于2018年8月正式出版发行。
                        </p>
                    </div>
                    <!--<div class="image filtered tinted" data-position="top right">
                        <img src="img/pic03.jpg" alt="">
                    </div>-->
                </section>
                <section class="panel spotlight medium right" >
                     <div class="content span-7">
                        <h2 class="major">陈俊毅艺术世界</h2>
                        <p>Chen Junyi’s Art World</p>
                    </div>
                    <div class="image filtered tinted" data-position="top left">
                        <<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/c0.jpg" alt="">
                    </div>
                </section>

                <!-- Panel (Spotlight) -->
                <section class="panel spotlight medium right" id="first">
                    <div class="image filtered tinted" data-position="top left">
                        <<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/c1.jpg" alt="">
                    </div>
                </section>

                <!-- Panel -->
                <section class="panel spotlight medium right" >
                     <div class="content span-7">
                         <p>Who ever loves art is the richest man in the world<br/>
                         What art endow to life ——<br/>
                             endless fun, exalted enjoyment.<br/>
                                            -------- Chen Junyi</p>
                         <p>热爱艺术的人，是世间最富足的人。<br/>
                         艺术赋予生命的是 ——<br/>
                             乐趣的无以穷尽；享受的至高无上。<br/>
                                            --------陈俊毅</p>
                     </div>
                    <div class="image filtered tinted" data-position="top left">
                        <<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/c2.jpg" alt="">
                    </div>
                </section>
                <!--<section class="spotlight medium right">
                    <div class="image filtered tinted" data-position="top left">
                        <<img src="img/c1.jpg" alt="">
                    </div>
                </section>-->

                <!-- Panel (Spotlight) -->


                <!-- Panel -->
                <section class="panel">
                    <!--<div class="intro color2">
                        <h2 class="major">标题写在这里</h2>
                        <p>内容写在这里内容写在这里内容写在这里内容写在这里内容写在这里内容写在这里内容写在这里内容写在这里内容写在这里</p>

                    </div>-->
                    <div class="gallery"><div class="modal" tabindex="-1"><div class="inner"><img src="https://pixelarity.com/items/demos/ethereal/magenta/index.html"></div></div>
                        <div class="group span-3">
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/01.jpg" class="image filtered span-3" data-position="bottom"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/01.jpg" alt=""></a>
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/02.jpg" class="image filtered span-1-5" data-position="center"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/02.jpg" alt=""></a>
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/03.jpg" class="image filtered span-1-5" data-position="bottom"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/03.jpg" alt=""></a>
                        </div>
                        <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/04.jpg" class="image filtered span-2-5" data-position="top"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/04.jpg" alt=""></a>
                        <div class="group span-4-5">
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/05.jpg" class="image filtered span-3" data-position="top"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/05.jpg" alt=""></a>
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/06.jpg" class="image filtered span-1-5" data-position="center"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/06.jpg" alt=""></a>
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/07.jpg" class="image filtered span-1-5" data-position="bottom"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/07.jpg" alt=""></a>
                            <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/08.jpg" class="image filtered span-3" data-position="top"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/08.jpg" alt=""></a>
                        </div>
                        <a href="https://pixelarity.com/items/demos/ethereal/magenta/images/gallery/fulls/09.jpg" class="image filtered span-2-5" data-position="right"><<img src="https://liuhuatao123456.oss-cn-hangzhou.aliyuncs.com/img/09.jpg" alt=""></a>
                    </div>
                </section>

                <!-- Panel -->
                <section class="panel color4-alt">
                    <div class="intro color4">
                        <h2 class="major">陈俊毅个人简介</h2>
                        <p>· 陈俊毅 1950 年出生于上海市。</p>
                        <p>· 旅美油画家，舞台秀导演。成名于上世纪 90 年代初。</p>
                        <p>· 1969 年，文革时期从上海随集体到贵州插队落户。</p>
                        <p>· 1971 年，在上海考入江苏省徐州市歌舞团从事舞台美术设计。</p>
                        <p>   后在上海歌剧院及南京艺术学院学习舞台美术设计与绘景。</p>
                        <p>   在上海随名师学习声乐、小提琴。 </p>
                        <p>   绘画曾师从著名油画大家颜文樑先生。 </p>
                    </div>
                </section>
                <section class="panel color4-alt">
                    <div class="intro color4">
                        <p>· 1981 年 在徐州和南京分别举办个人艺术作品展。</p>
                        <p>· 1992--1995 年，在上海从事职业绘画。</p>
                        <p>· 1993 年由上海美术馆主办“陈俊毅大型个人油画展”，在上海美术馆展出油画作品108 件。 时任美术馆馆长的方增先在 1993 年 5 月 23 日的《文汇报》上发表文章 --《音画风景 --- 陈俊毅油画展》。 </p>
                        <p>· 1995 年， 上海的拍卖公司举办 “陈俊毅个人油画专场拍卖会”（上半场是上海画院院长程十发的国画专场，下半场是陈俊毅的油画专场） 。 </p>
                        <p>· 1993-1995 年期间，上海电视台《诗与画》栏目及《上海滩名人专访》栏目两度拍摄并向海内外播放“陈俊毅电视专题片”。  </p>
                        <p>· 1995 年 受邀赴美。</p>


                    </div>
                </section>
                <section class="panel color4-alt">
                    <div class="intro color4">
                        <p>· 1996 年定居美国，创办艺术沙龙。</p>
                        <p>· 1998 年 受邀参加“美国名家艺术走廊”十大名家联展。</p>
                        <p>· 在美国，艺术成就被写成文学报道——《特写 -- 美国华裔精英》一书， 90 年代后期，作品被收入《世界华人美术家年鉴》，本人被授予“世界华人美术名家”称号，同时入选《世界华人美术名家画集》和《美国华裔名人年鉴》。</p>
                        <p>· 2006 年获美国加州橙郡郡政府授予“杰出成就荣誉市民”。</p>
                        <p>· 2007 年及 2015 年，在上海策划、导演了大型歌舞秀《激情夜上海》，将抽象油画艺术与歌舞艺术融合于舞台，演于上海东方艺术中心等剧院。</p>
                        <p>· 2013--2015 年，在上海协助筹建“陈俊毅艺术馆”，前中共中央宣传部副部长龚心瀚为“陈俊毅艺术博物馆”撰写了前言《塔尖上的抽象油画》。</p>
                    </div>
                </section>
                <section class="panel color4-alt">
                    <div class="intro color4">
                        <p>· 陈俊毅从 1998 年起，淡出画坛至今。从不参加任何国内外集体性展览及奖项活动。大量时间用于生活体验。</p>
                        <p>· 从年轻时开始在从事绘画创作的同时，大量时间用于生活体验：当过农民、专业文艺团体的舞台美术设计 , 创办过工厂、专业歌舞团及艺术品拍卖公司，在美国创办“艺术家咖啡”大型文化沙龙、媒体集团并从事国际贸易。</p>
                        <p>· 大量的生活积累和喜怒哀乐的极致体验，激发陈俊毅从 2009 年起开始宣泄创作抽象油画。</p>
                        <p>· 是上帝给予的丰富生活体验牵引着陈俊毅将早已植根于身灵之中的诗性和音乐性融入画面制作，化成抽象油画的真谛！</p>
                        <p style="color: #ffae00;font-weight: bold">· 由上海文化出版社出版、著名作家淳子撰写的《夜色撩人—陈俊毅，一个抽象主义者的生态》传记作品，已于2018年8月正式出版发行。</p>
                    </div>
                </section>


                <div class="scrollZone left" style="left: 0px;"></div><div class="scrollZone right" style="right: 0px;"></div></div>

        </div>
        <!-- Body main wrapper end -->



        <!-- Placed js at the end of the document so the pages load faster -->
        <!-- jquery latest version -->
        <script src="js/vendor/jquery-1.12.0.min.js"></script>
        <script src="js/skel.min.js"></script>
        <script src="js/about.js"></script>

    </body>

</html>