{% extends "layouts/default.html" %}

{% block content %}
<!-- shop-area start -->
<div class="shop-area mt-50" ng-controller="derivativeController">
	<div class="container">
		<div class="row">
			<!--<div class="col-md-3 col-sm-4">
				<div class="column mb-50">
					<div class="sidebar-widget" ng-repeat="item in categoryList[4].children">
						<h3 class="sidebar-title mt-30" ng-bind="item.name">服装</h3>
					</div>
				</div>
			</div>-->
			<div class="col-md-12 col-sm-12">
				<h2 class="page-heading mt-40">
					<span class="cat-name">盘子</span>
					<span class="heading-counter" ng-bind="'共有'+list.count+'件'"></span>
				</h2>
				<div class="shop-page-bar">
					<div>
						<div class="shop-bar">
						</div>
						<!-- Tab panes -->
						<div class="tab-content">
							<div role="tabpanel" class="tab-pane active" id="home">
								<div class="row">
									<div class="col-md-4 col-sm-6" ng-repeat="item in list.data">
										<div class="product-wrapper mb-40">
											<div class="product-img">
												<a ng-href="{%raw%}{{'product-details.html?id='+item.id}}{%endraw%}"><img ng-src="{% raw %}{{item.imgurl[0]}}{% endraw %}" alt="" /></a>
											</div>
											<div class="product-content">
												<div class="pro-title">
													<h3><a ng-href="{%raw%}{{'product-details.html?id='+item.id}}{%endraw%}" ng-bind="item.title">标题写在这里 </a></h3>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>
							<div class="content-sortpagibar text-center">
                                <div class="content-sortpagibar text-center">
                                    <my-pagination page-option="option"></my-pagination>
                                </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- shop-area end -->
{% endblock %}