{% extends "layouts/default.html" %}

{% block content %}
<!-- shop-area start -->
<div class="shop-area" ng-controller="derivativeController">
	<div class="breadcrumb-area2 ptb-150 bg-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 text-center">
					<div class="breadcrumb-wrap mt-20">
						<ul class="breadcrumb-list text-center">
							<li><a href="index.html">首页 </a></li>
							<li><a href="derivative.html?cid=150">衍生品 </a></li>
							<li><a href="javascript:location.reload();" ng-bind="category.title"></a></li>
						</ul>
					</div>
					<h2 class="breadcrumb-title text-white uppercase  mt-20">衍生品</h2>
				</div>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<!--<div class="col-md-3 col-sm-4">
				<div class="column mb-50">
					<div class="sidebar-widget" ng-repeat="item in categoryList[4].children">
						<h3 class="sidebar-title mt-30" ng-bind="item.name">服装</h3>
					</div>
				</div>
			</div>-->
			<div class="col-md-12 col-sm-12">
				<!--<h2 class="page-heading mt-40">
					<span class="cat-name"  ng-bind="category.title"></span>
					<span class="heading-counter" ng-bind="'共有'+list.count+'件'"></span>
				</h2>-->
				<ul class="custom-tab text-center mb-20">
					<li ng-class="cid==item.id?'active':''"  ng-repeat="item in categoryList[4].children"><a ng-click="getDocumentByCId(item.id,1,12)" ng-bind="item.name">服装</a></li>
				</ul>
				<div class="shop-page-bar">
					<!-- Tab panes -->
					<div class="tab-content">
						<div role="tabpanel" class="tab-pane active" id="home">
							<div class="row">
								<div class="col-md-4 col-sm-6" ng-repeat="item in list.data">
									<div class="product-wrapper mb-40">
										<div class="product-img">
											<a ng-href="{%raw%}{{'product-details.html?id='+item.id}}{%endraw%}"><img ng-src="{% raw %}{{item.imgurl[0]}}{% endraw %}" alt="" /></a>
											<div class="product-action" ng-click="getDocumentById(item.id)">
												<a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
											</div>
										</div>
										<!--<div class="product-content">
											<div class="price-reviews">
												<div class="price-box">
													<span class="price product-price" ng-bind="item.title"></span>
												</div>
												<a class="s-btn pull-right"ng-click="goUrl(detail.link_id)" ng-show="item.link_id"><i class="fa fa-cart-plus mr-10"></i>购买</a>
											</div>
										</div>-->
									</div>
								</div>

							</div>
						</div>
						<div class="content-sortpagibar text-center">
							<my-pagination page-option="option"></my-pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- shop-area end -->
{% endblock %}