{% extends "layouts/default.html" %}

{% block content %}
<!-- Start page content -->
<div class="breadcrumb-area2 ptb-50">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h2 class="breadcrumb-title text-white uppercase">导演艺术</h2>
                <div class="breadcrumb-wrap mt-20">
                    <ul class="breadcrumb-list text-center mt-20">
                        <li><a href="index.html">首页 </a></li>
                        <li><a href="#">导演</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video list start -->
<div class="banner-area pt-70 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                <div class="banner">
                    <a href="#" data-toggle="modal" data-target="#videoModal">
                        <img src="img/director/01.jpg" alt="" />
                        <span class="video-icon"><i class="fa fa-play-circle-o"></i></span>
                        <h3>激情夜上海</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="banner banner-sm">
                    <a href="#" data-toggle="modal" data-target="#videoModal">
                        <img src="img/director/02.jpg" alt="" />
                        <span class="video-icon"><i class="fa fa-play-circle-o"></i></span>
                        <h3>激情夜上海</h3>
                    </a>
                </div>
            </div>
            <div class="col-md-4 col-sm-4 mt-10">
                <div class="banner banner-sm">
                    <a href="#" data-toggle="modal" data-target="#videoModal">
                        <img src="img/director/03.jpg" alt="" />
                        <span class="video-icon"><i class="fa fa-play-circle-o"></i></span>
                        <h3>激情夜上海</h3>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- video list end -->
<!-- End page content -->
{% endblock %}