{% extends "layouts/default.html" %}

{% block content %}
<div ng-controller="researchController">
    <!-- Start page content -->
    <div id="wrapper" style="padding-top: 120px;">
        <div id="container" style="width:995px;">
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="1" src="images/pixel.gif" data-original="images/s1.jpg" width="225" />
                </div>
                <p>邵洛羊：著名美术评论家，《中国美术大字典》主编。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="2" src="images/pixel.gif" data-original="images/s2.jpg" width="225" />
                </div>
                <p>邵洛羊：著名美术评论家，《中国美术大字典》主编。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="3" src="images/pixel.gif" data-original="images/s3.jpg" width="225" />
                </div>
                <p>1993 年上海美术馆举办陈俊毅画展时，邵洛羊特为陈俊毅作画祝贺。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="4" src="images/pixel.gif" data-original="images/s4.jpg" width="225" />
                </div>
                <p>方增先：上海美术馆馆长，中国国家画院中国画院院长。 写于1993年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="5" src="images/pixel.gif" data-original="images/s5.jpg" width="225" />
                </div>
                <p>程十发： 原上海画院院长。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="6" src="images/pixel.gif" data-original="images/s6.jpg" width="225" />
                </div>
                <p>沈柔坚：原上海美术家协会主席。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="7" src="images/pixel.gif" data-original="images/s7.jpg" width="225" />
                </div>
                <p>钱君匋：著名篆刻家、书画家。 写于1993年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="8" src="images/pixel.gif" data-original="images/s8.jpg" width="225" />
                </div>
                <p>徐昌酩：上海美术家协会副主席。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="9" src="images/pixel.gif" data-original="images/s9.jpg" width="225" />
                </div>
                <p>周慧君：上海书法家协会主席。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="10" src="images/pixel.gif" data-original="images/s10.jpg" width="225" />
                </div>
                <p>郑重：著名美术评论家 写于 2016 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="11" src="images/pixel.gif" data-original="images/s11.jpg" width="225" />
                </div>
                <p>吴青霞：著名书画家。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="12" src="images/pixel.gif" data-original="images/s12.jpg" width="225" />
                </div>
                <p>言恭达：中国书法家协会副主席。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="13" src="images/pixel.gif" data-original="images/s13.jpg" width="225" />
                </div>
                <p>夏征农：原上海市委副书记、文联主席。写于1993年。</p>
            </div><br />
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="14" src="images/pixel.gif" data-original="images/s14.jpg" width="225" />
                </div>
                <p>张承宗：上海市第一任副市长。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="15" src="images/pixel.gif" data-original="images/s15.jpg" width="225" />
                </div>
                <p>刘振元：原上海市副市长（主管文化）。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="16" src="images/pixel.gif" data-original="images/s16.jpg" width="225" />
                </div>
                <p>颜文樑：著名油画大家，原国立苏州美专创办人。写于1979年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="17" src="images/pixel.gif" data-original="images/s17.jpg" width="225" />
                </div>
                <p>朱屺瞻：著名书画大家。写于 103 岁。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="18" src="images/pixel.gif" data-original="images/s18.jpg" width="225" />
                </div>
                <p>丁善德：原上海音乐学院院长。 写于 1993 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="19" src="images/pixel.gif" data-original="images/s19.jpg" width="225" />
                </div>
                <p>史树青：原中国收藏家协会会长。 写于 2000 年。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="20" src="images/pixel.gif" data-original="images/s20.jpg" width="225" />
                </div>
                <p>唐国强：著名影视演员。 2008 年于洛杉矶。</p>
            </div>
            <div class="grid">
                <div class="imgholder">
                    <img class="lazy thumb_photo" title="21" src="images/pixel.gif" data-original="images/s21.jpg" width="225" />
                </div>
                <p>顾玉如：洛杉矶历史博物馆董事会董事。2006 年写于洛杉矶。</p>
            </div>
        </div>
    </div>

    <!--瀑布流 end-->


    <!--大图弹出层 start-->
    <div class="container_mjtz" style="padding-top: 100px;">
        <div class="close_div">
            <img src="images/closelabel.gif" class="close_pop" title="关闭" alt="关闭" style="cursor:pointer">　
        </div>
        <!-- 代码 开始 -->
        <div class="content_mjtz">
            <span style="display:none"><img src="images/load.gif" /></span>
            <div class="left"></div>
            <div class="right"></div>
            <img class="img" src="images/1.jpg">
            <img class="img" src="images/2.jpg">
            <img class="img" src="images/3.jpg">
            <img class="img" src="images/4.jpg">
            <img class="img" src="images/5.jpg">
            <img class="img" src="images/6.jpg">
            <img class="img" src="images/7.jpg">
            <img class="img" src="images/8.jpg">
            <img class="img" src="images/9.jpg">
            <img class="img" src="images/10.jpg">
            <img class="img" src="images/11.jpg">
            <img class="img" src="images/12.jpg">
            <img class="img" src="images/13.jpg">
            <img class="img" src="images/14.jpg">
            <img class="img" src="images/15.jpg">
            <img class="img" src="images/16.jpg">
            <img class="img" src="images/17.jpg">
            <img class="img" src="images/18.jpg">
            <img class="img" src="images/19.jpg">
            <img class="img" src="images/20.jpg">
            <img class="img" src="images/21.jpg">
        </div>
        <div class="bottom">共 <span id="img_count">x</span> 张 / 第 <span id="xz">x</span> 张</div>
        <!-- 代码 结束 -->
    </div><!--end-->

    <script type="text/javascript">
        $(document).ready(function(){

            var count = 22;
            // 点击加载更多
            $('.load_more').click(function(){
                var html = "";
                var img = '';
                for(var i = count; i < count+21; i++){
                    var n = Math.round(Math.random(1)*21);
                    var src = 'images/'+n+'.jpg';
                    html = html + "<div class='grid'>"+
                        "<div class='imgholder'>"+
                        "<img class='lazy thumb_photo' title='"+i+"' src='images/pixel.gif' data-original='"+src+"' width='225' onclick='seeBig(this)'/>"+
                        "</div>"+
                        "</div>";
                    img = img + "<img class='img' src='"+src+"'>";
                }
                count = count + 21;
                $('#container').append(html);
                $('.content_mjtz').append(img);
                $('#container').BlocksIt({
                    numOfCol:4,  //每行显示数
                    offsetX: 5,  //图片的间隔
                    offsetY: 5   //图片的间隔
                });
                $("img.lazy").lazyload();
            });

        });
    </script>

</div>
{% endblock %}
