{% extends "layouts/default.html" %}

{% block content %}
<!-- news list start -->
<div class="blog-area" ng-controller="newsController">
    <div class="breadcrumb-area2 ptb-150 bg-4">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="breadcrumb-wrap mt-20">
                        <ul class="breadcrumb-list text-center">
                            <li><a href="index.html">首页 </a></li>
                            <li><a href="/news.html?cid=144">动态 </a></li>
                            <li><a href="javascript:location.reload();" ng-bind="category.title"></a></li>
                        </ul>
                    </div>
                    <h2 class="breadcrumb-title text-white uppercase  mt-20">动态</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <ul class="custom-tab mb-20">
                    <li ng-class="cid==144?'active':''"><a href="/news.html?cid=144">新闻</a></li>
                    <li ng-class="cid==145?'active':''"><a href="/news.html?cid=145">公告</a></li>
                    <li ng-class="cid==146?'active':''"><a href="/news.html?cid=146">媒体报道</a></li>
                </ul>
                <div class="row mb-20  research-list" ng-repeat="item in list.data">
                    <div class="col-xs-11 col-sm-11 col-md-4">
                        <div class="product-wrapper">
                            <div class="product-img">
                                <a ng-href="{% raw %}{{'/article.html?id='+item.id}}{% endraw %}"><img alt="" ng-src="{% raw %}{{item.imgurl[0]}}{% endraw %}"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-11 col-sm-11 col-md-8">
                        <div class="product-content new-list">
                            <div class="pro-title">
                                <h3><a ng-href="{% raw %}{{'/article.html?id='+item.id}}{% endraw %}" ng-bind="item.title"></a></h3>
                            </div>
                            <div class="pro-rating">
                                作者：<span>{% raw %}{{item.keyname?item.keyname:'admin'}}{% endraw %}</span>
                            </div>
                            <p ng-bind="item.description" style="overflow: hidden;display: -webkit-box; -webkit-line-clamp: 2;-webkit-box-orient: vertical;word-break: break-all;"></p>
                            <a class="s-btn" ng-href="{% raw %}{{'/article.html?id='+item.id}}{% endraw %}"><i class="fa fa-file-text-o mr-10"></i><span>阅读全文 </span> </a>
                        </div>
                    </div>
                </div>
                <div class="content-sortpagibar text-center">
                    <my-pagination page-option="option"></my-pagination>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news list end -->
{% endblock %}
