{% extends "layouts/default.html" %}

{% block content %}
<div ng-controller="photoController">
    <!-- Start page content -->
    <div class="breadcrumb-area2 ptb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <h2 class="breadcrumb-title text-white uppercase">相册</h2>
                    <div class="breadcrumb-wrap ">
                        <ul class="breadcrumb-list text-center mt-20 mt-30">
                            <li><a href="index.html">首页 </a></li>
                            <li><a href="about.html">关于</a></li>
                            <li><a href="javascript:location.reload()">相册</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 相册 start -->
    <div class="new-arrival-area ptb-100">
        <div class="container">
            <div class="row">
                <div class="section-title text-center mb-20">
                    <h2>陈俊毅的相册</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tab">
                        <!-- Nav tabs -->
                        <ul class="custom-tab text-center mb-40">
                            <li class="active" ng-repeat="item in categoryList[1].children">
                                <a href="javasript:;" data-toggle="tab"  ng-click="getDocumentByCId(item.id)" ng-bind="item.name">生活</a></li>
                        </ul>
                        <!-- Tab panes -->
                        <div class="row">
                            <div class="tab-content">
                                <div class="tab-pane active" id="home">
                                    <div class="product-carousel">
                                        <div class="col-md-12"  ng-repeat="item in list.data">
                                            <div class="product-wrapper mb-40"  ng-click="getDocumentById(item.id)">
                                                <div class="product-img">
                                                    <a href="#"><img src="{% raw %}{{item.imgurl[0]}}{% endraw %}" alt=""/></a>

                                                    <div class="product-action">
                                                        <a href="javasript:;" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="pro-title">
                                                        <h3><a href="product-details.html" ng-bind="item.title">标题写在这里 </a></h3>
                                                    </div>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- new-arrival-area end -->
{% endblock %}