{% extends "layouts/default.html" %}

{% block content %}
<!-- header end -->
<!-- shop-area start -->
<div class="shop-area mt-50 mb-50" ng-controller="productDetailController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="product-zoom">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home">
                            <div class="pro-large-img">
                                <img src="img/product/1.jpg" alt=""/>
                                <a class="popup-link" href="img/product/1.jpg">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="profile">
                            <div class="pro-large-img">
                                <img src="img/product/2.jpg" alt=""/>
                                <a class="popup-link" href="img/product/2.jpg">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="messages">
                            <div class="pro-large-img">
                                <img src="img/product/3.jpg" alt=""/>
                                <a class="popup-link" href="img/product/3.jpg">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings">
                            <div class="pro-large-img">
                                <img src="img/product/4.jpg" alt=""/>
                                <a class="popup-link" href="img/product/4.jpg">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings2">
                            <div class="pro-large-img">
                                <img src="img/product/5.jpg" alt=""/>
                                <a class="popup-link" href="img/product/5.jpg">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                        <div class="tab-pane" id="settings3">
                            <div class="pro-large-img">
                                <img src="img/product/6.jpg" alt=""/>
                                <a class="popup-link" href="img/product/6.jpg">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <!-- Nav tabs -->
                    <ul class="details-tab">
                        <li class="active"><a href="#home" data-toggle="tab"><img src="img/product/1.jpg" alt=""/></a>
                        </li>
                        <li><a href="#profile" data-toggle="tab"><img src="img/product/2.jpg" alt=""/></a></li>
                        <li><a href="#messages" data-toggle="tab"><img src="img/product/3.jpg" alt=""/></a></li>
                        <li><a href="#settings" data-toggle="tab"><img src="img/product/4.jpg" alt=""/></a></li>
                        <li><a href="#settings2" data-toggle="tab"><img src="img/product/5.jpg" alt=""/></a></li>
                        <li><a href="#settings3" data-toggle="tab"><img src="img/product/6.jpg" alt=""/></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="product-details">
                    <h2 class="pro-d-title" ng-bind="detail.title">陈俊毅抽象油画 盘子 型號00114</h2>
                    <div class="short-desc">
                        <p ng-bind="detail.description">商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介商品簡介</p>
                    </div>
                    <div class="box-quantity">
                        <button>立即购买</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
{% endblock %}