{% extends "layouts/default.html" %}

{% block content %}
<!-- header end -->
<!-- shop-area start -->
<div class="shop-area mt-50 mb-50" ng-controller="productDetailController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-5">
                <div class="product-zoom">
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" ng-repeat="item in detail.atlas">
                            <div class="pro-large-img">
                                <img ng-src="{% raw %}{{item.src}}{% endraw %}" alt=""/>
                                <a class="popup-link" ng-href="{% raw %}{{item.src}}{% endraw %}">查看<i class="fa fa-search-plus"
                                                                                    aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-7">
                <div class="product-details">
                    <h2 class="pro-d-title" ng-bind="detail.title"></h2>
                    <div class="short-desc">
                        <p ng-bind="detail.description"></p>
                    </div>
                    <div class="box-quantity">
                        <button ng-click="goUrl(detail.link_id)">立即购买</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- shop-area end -->
{% endblock %}