{% extends "layouts/default.html" %}

{% block content %}
<!-- Start page banner -->

    <div class="shop-area" ng-controller="worksController">
        <div class="container pt-150">
            <div class="row">
                <div class="section-title text-center mb-20">
                    <h2>- 艺术作品 -</h2>
                </div>
                <ul class="custom-tab text-center mb-20">
                    <li class="active"><a href="works.html?cid=130" data-toggle="tab">绘画</a></li>
                    <li><a href="works.html?cid=131" data-toggle="tab"> 陶瓷</a></li>
                    <li><a href="works.html?cid=132" data-toggle="tab"> 摆件</a></li>
                    <li><a href="works.html?cid=133" data-toggle="tab"> 雕塑</a></li>
                </ul>
                <div class="col-md-12 col-sm-8">
                    <div class="shop-page-bar">
                        <div class="">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6" ng-repeat="item in list.data">
                                            <div class="product-wrapper mb-40">
                                                <div class="product-img">
                                                    <a href="#"><img ng-src="{% raw %}{{item.imgurl[0]}}{% endraw %}" alt="" /></a>
                                                    <div class="product-action" ng-click="getDocumentById(item.id)">
                                                        <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <!--<div class="pro-title">
                                                        <h3><a href="product-details.html" ng-bind="item.catename">抽象画</a></h3>
                                                    </div>-->
                                                    <div class="price-reviews">
                                                        <div class="price-box">
                                                            <span class="price product-price" ng-bind="item.title"></span>
                                                        </div>
                                                        <a class="s-btn pull-right"><i class="fa fa-commenting-o mr-10"></i>艺术评论</a>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-sortpagibar text-center">
                                    <my-pagination page-option="option"></my-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}