{% extends "layouts/default.html" %}

{% block content %}
<!-- Start page banner -->

    <div class="shop-area" ng-controller="worksController">
        <div class="breadcrumb-area2 ptb-150 bg-3">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <div class="breadcrumb-wrap mt-20">
                            <ul class="breadcrumb-list text-center">
                                <li><a href="index.html">首页 </a></li>
                                <li><a href="works.html?cid=130">艺术作品 </a></li>
                                <li><a href="javascript:location.reload();" ng-bind="category.title"></a></li>
                            </ul>
                        </div>
                        <h2 class="breadcrumb-title text-white uppercase  mt-20">艺术作品</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <ul class="custom-tab text-center mb-20">
                    <li ng-class="cid==item.id?'active':''" ng-repeat="item in categoryList[0].children"><a href="javasript:;" ng-click="getDocumentByCId(item.id,1,12)" ng-bind="item.name">绘画</a></li>
                </ul>
                <div class="col-md-12 col-sm-8">
                    <div class="shop-page-bar">
                        <div class="">
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="home">
                                    <div class="row">
                                        <div class="col-md-4 col-sm-6" ng-repeat="item in list.data">
                                            <div class="product-wrapper mb-40">
                                                <div class="product-img">
                                                    <a href="#"><img ng-src="{% raw %}{{item.imgurl[0]}}{% endraw %}" alt="" /></a>
                                                    <div class="product-action" ng-click="getDocumentById(item.id)">
                                                        <a href="#" data-toggle="modal" data-target="#productModal"><i class="pe-7s-look"></i></a>
                                                    </div>
                                                </div>
                                                <div class="product-content">
                                                    <div class="price-reviews">
                                                        <div class="price-box">
                                                            <span class="price product-price" ng-bind="item.title"></span>
                                                        </div>
                                                        <a class="s-btn pull-right" ng-click="goUrl(item.link_id)" ng-show="item.link_id"><i class="fa fa-commenting-o mr-10"></i>艺术评论</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-sortpagibar text-center">
                                    <my-pagination page-option="option"></my-pagination>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
{% endblock %}