/* Icons */
.content {
	--color-text: #fff;
	--color-link: #f0f0f0;
	--color-link-hover: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
	min-height: 100vh;
	color: #fff;
	color: var(--color-text);
	background: linear-gradient(115deg, rgba(86, 216, 228,1) 5%,rgba(159, 1, 234,1) 95%);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
}
.icon {
	display: block;
	width: 1.5em;
	height: 1.5em;
	margin: 0 auto;
	fill: currentColor;
}

.icon--keyboard {
	display: none;
}

main {
	position: relative;
	width: 100%;
}

@media screen and (max-width: 55em) {
	body {
		overflow: auto;
	}
	.content {
		flex-direction: column;
		height: auto;
		min-height: 0;
		padding-bottom: 10em;
	}
}


.pieces-slider {
	position: relative;
	text-align: center;
	padding: 8rem 0;
}

.js .pieces-slider {
	padding: 0;
}

/* Make all slides absolutes and hide them */
.js .pieces-slider__slide {
	position: absolute;
}

/* Define image dimensions and also hide them */
.pieces-slider__image {
	max-width: 900px;
	max-height: 600px;
}

.js .pieces-slider__image {
	visibility: hidden;
}

/* Hide the titles */
.js .pieces-slider__text {
	text-indent: -9999px;
}

/* Canvas with viewport width and height */
.js .pieces-slider__canvas {
	position: relative;
	width: 100vw;
	height: 100vh;
	transition: 0.2s opacity;
}

/* Class for when we resize */
.pieces-slider__canvas--hidden {
	opacity: 0;
	transition-duration: 0.3s;
}

/* Navigation buttons */
.pieces-slider__button {
	position: absolute;
	left: 0;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -25px 0 0 0;
	background-color: #5104ab;
	color: #fff;
	font-family: inherit;
	font-weight: bold;
	border: none;
	cursor: pointer;
	transition: 0.1s background-color;
}

.pieces-slider__button:hover {
	background: #5f3abf;
}

.pieces-slider__button--next {
	left: auto;
	right: 0;
}

/* Hide the buttons when no JS */
.no-js .pieces-slider__button {
	display: none;
}

/* Media queries with styles for smaller screens */
@media screen and (max-width: 720px) {
	.pieces-slider__image {
		max-width: 300px;
	}
}

@media screen and (max-width: 55em) {
	.pieces-slider__canvas {
		width: 100vw;
		height: 100vw;
	}
	.pieces-slider__button {
		width: 60px;
		height: 60px;
	}
}



#ClickMe {
	width: 200px;
	height: 30px;
	border: 1px solid #C40000;
	background-color: #000;
	color: #FFF;
	margin:0 auto;
}
#goodcover {
	display: none;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 133%;
	background-color: black;
	z-index: 1001;
	-moz-opacity: 0.8;
	opacity: 0.50;
	filter: alpha(opacity=80);
}
.cc{
	width: 920px;
	height: 600px;
	background-color: #fff;
	padding: 10px;
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
	margin: -300px -450px;
	z-index: 1002;
}

.close {
	float: right;
	margin: 15px;
}
#closebt img {
	width: 20px;
}

.pieces-slider__slide button {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 200px;
	height: 200px;
	z-index: 100;
}
.vido-list {
	overflow: hidden;
	position: absolute;
	bottom: 15px;
}

.vido-list ul li {
	float: left;
	width: 200px;
	height: 129px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.vido-list ul li a .bofang{
	position: absolute;
	width: 60px;
	height: 60px;
	margin: 38px 60px;
	background: url("../../img/director/bofang.png");
}
.vido-list ul li a {
	display: inline-block;
	width: 200px;
	height: 129px;
	cursor: pointer;
}
.vido-list ul li a img {
	width: 200px;
	height: 129px;
}
.theme-popover-mask{
	z-index:9;
	position:absolute;
	left:0;
	top:0;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.9;
	filter:alpha(opacity=90);
	-moz-opacity:0.9;
	display:none;
}
.videobox {
	z-index: 10;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 600px;
	margin: -300px -400px;
}
.videobox .close {
	position: absolute;
	right: -158px;
	top: 34px;
	background: #fff;
	padding: 10px 15px;
}